fastapi
uvicorn
python-dotenv

pymongo
motor

numpy==1.23.5
pandas
scikit-learn
scipy

pillow
opencv-python-headless
pytesseract
pdf2image
openpyxl

passlib
bcrypt
python-jose
Authlib
email-validator

requests
httpx

# 🔥 TensorFlow stable
tensorflow-cpu==2.10.0

typing_extensions
itsdangerous==2.1.2